@model IEnumerable<BestCoffee.Entities.OrdenDeCompra>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImporteTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProveedorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImporteTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProveedorNavigation.IdProveedor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdOrdenDeCompra">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdOrdenDeCompra">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdOrdenDeCompra">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
